.location {
    background-color: gold;
    position: relative;
}
.location__main {
    width: 360px;
    height: 360px;
}
.connections {
    list-style-type: none;
}
.button-container {
    display: none;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}
.hit-indicator {
    color: red;
    font-size: 100px;
    display: none;
}
.fight-indicators-container {
    text-align: center;
    position: absolute;
    top: 100px;
    left: 80px;
}

.inventory-icon {
    display: block;
    width: 50px;
    height: 50px;
    background-color: orangered;
}
.inventory__item {
    display: block;
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
}

.inventory__main {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    gap: 5px;
}

.inventory__item img {
    width: 40px;
    height: 40px;
}

.block-indicator {
    color: lime;
    font-size: 50px;
    display: none;
}
.fail-indicator {
    color: deepskyblue;
    font-size: 80px;
    display: none;
}
.crit-indicator {
    color: crimson;
    font-size: 50px;
    display: none;
}
.inventory__item-options {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
}
.item-options {
    display: none;
    flex-direction: column;
}