.location {
    background-color: gold;
    position: relative;
}
.location__main {
    width: 360px;
    height: 360px;
}
.connections {
    list-style-type: none;
}
.button-container {
    display: none;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}
.hit-indicator {
    color: red;
    font-size: 100px;
    display: none;
}
.fight-indicators-container {
    text-align: center;
    position: absolute;
    top: 100px;
    left: 80px;
}