@page
@model ProjectGamebook.Pages.BeforeBossModel
@{
}

<div class="narration">
    <div class="narration__textbox">
        <h1>The Emperor's chamber</h1>
        <p>As you were running through the castle, you came across huge steel doors. They aren’t locked. You could open them right away, but you hesitate for a moment.</p>
        <p>Behind those doors… yes, that’s him. The Sweet Emperor. There is no doubt about it, it’s really him, in the flesh. And he’s waiting behind those doors.</p>
        <p>You take a deep breath and slowly open the doors…</p>
        <div class="narration__buttons-container">
            <a class="btn btn--next btn--narration" asp-page="FinalBossFight">Next</a>
        </div>
    </div>
</div>