@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 style="color: darkred; text-align: left;">!ERROR!</h1>
<p>An error has occured:</p>
<p>@Model.ErrorMessage</p>
<a asp-page="Index">Back</a>
