@page
@model ProjectGamebook.Pages.FourthFloorModel
@{
}

<div class="narration">
    <div class="narration__textbox">
        <h1>Fourth Floor</h1>
        <p>You finally reached the fourth floor. The Sweet Emperor’s turf.</p>
        <p>The previous floors were a paradise compared to this nightmarish place. You feel like your nose is about to burst from this awful sugary smell. Death awaits you behind every corner. With every step you take, you move closer to your demise.</p>
        <p>But you aren’t scared. You remain firm and continue moving forward.</p>
        <p>This buffoonery will soon end, one way or another…</p>
        <div class="narration__buttons-container">
            <a class="btn btn--next btn--narration" asp-page="Location" asp-route-id="23">Next</a>
        </div>
    </div>
</div>