@page
@model ProjectGamebook.Pages.GameEndModel
@{
}

<div class="narration">
    <div class="narration__textbox">
        <h1>Epilogue</h1>
        <p>You did it. After two years, you finally defeated all your foes and successfully cured your diabetes.</p>
        <p>You returned back to your world and reunited with your family and friends.</p>
        <p>However, after you cured your diabetes, your blood sugar level lowered drastically, and you got diagnosed with hypoglycemia.</p>
        <p>Two weeks later, you died from the lack of sugar.</p>
        <p>THE END</p>
        <div class="narration__buttons-container">
            <a class="btn btn--next btn--narration" asp-page="./Index">Home</a>
        </div>
    </div>
</div>