@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="menu">
    <picture>
      <source media="(min-width:960px)" srcset="/imgs/logo.svg" width="960">
      <img src="/imgs/logo_mobile.svg" width="340"/>
    </picture>
    <a class="menu__button" asp-page="/Prologue">Start</a>
    <img src="/imgs/monstrum.png" class="menu__image" />
</div>
