@page
@model ProjectGamebook.Pages.PrologueModel
@{
}

<div class="narration">
    <div class="narration__textbox">
        <h1>Prologue</h1>
        <p>You got diabetes.</p>
        <p>The very same thing that caused the deaths of both your mom and your grandma. It's like a family curse. But you don't feel like dying just yet.</p>
        <p>You decided to take matters into your own hands and embarked on a journey of revenge to kill everything sweet and cure your diabetes.</p>
        <p>You ventured into the Food World — an alternate reality where everything you have ever eaten transformed into gruesome monsters. Using the power of salty weapons, you slayed every sweet monster you encountered.</p>
        <p>And now, you reached your final destination — the Labyrinth Castle, where the detestable Sweet Emperor resides.</p>
        <p>You have but a single goal ahead of you: Kill the Sweet Emperor and put an end to this farce.</p>
        <div class="narration__buttons-container">
            <a class="btn btn--next btn--narration" asp-page="./Location" asp-route-id="0">Next</a>
        </div>
   </div>
</div>
