@page
@model ProjectGamebook.Pages.SecondFloorModel
@{
}

<div class="narration">
    <div class="narration__textbox">
        <h1>Second Floor</h1>
        <p>You got to the second floor.</p>
        <p>At first, it seems to be no different from the first floor. The rooms are all the same and you haven’t found anything useful.</p>
        <p>But the air sure seems different around here. It’s as if you can physically feel the danger.</p>
        <p>You know you shouldn’t be here. You know you could die at any moment.</p>
        <p>But you can’t just give up.</p>
        <p>You continue to move forward...</p>
        <div class="narration__buttons-container">
            <a class="btn btn--next btn--narration" asp-page="Location" asp-route-id="12">Next</a>
        </div>
    </div>
</div>