@page
@model ProjectGamebook.Pages.ThirdFloorModel
@{
}

<div class="narration">
    <div class="narration__textbox">
        <h1>Third Floor</h1>
        <p>You successfully cleared the entirety of the second floor and moved to the third.</p>
        <p>It looks different from the previous two. The rooms are decorated with all sorts of expensive stuff. You can smell a lot of high-quality sweets. You quickly deduce that this is where the nobility resides.</p>
        <p>But the Sweet Emperor is not here. He probably has a floor all to himself. You will have to make your way through the nobles and find it.</p>
        <p>Well, good luck, I guess…</p>
        <div class="narration__buttons-container">
            <a class="btn btn--next btn--narration" asp-page="Location" asp-route-id="15">Next</a>
        </div>
    </div>
</div>